.container {
  display: table;
  width: 100%;
}

label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}

span {
  display: table-cell;
  padding: 0 4px 0 6px;
}

input {
  width: 70%;
}
