.Links {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
}
.Links ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

.Links li {
  display: inline-block;
  padding: 5px 5px;
}

.Links a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 0.8em;
}
