.App {
  font-family: sans-serif;
  text-align: center;
}

.well {
  background: #eeefff;
  padding: 15px;
}

.tab {
  background: transparent;
  padding: 5px 15px;
  color: #1122ff;
  border: none;
  cursor: pointer;
}

.tab-content {
  padding: 15px 5px;
}

.tab.active {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.nav-tabs {
  margin-top: 10px;
}

.add-tab-button {
  background: #ececed;
  color: rgb(2, 2, 2);
}

.edit-mode-button {
  background: #ececed;
  color: rgb(2, 2, 2);
}

.save-button {
  background: green;
  color: #fff;
}

.edit-tab-name {
  background: #1122ff;
  color: #fff;
}
